/.git
/.github
/.husky
/.vscode
/coverage
/node_modules
/scripts
/src
/tests
.gitattributes
.gitignore
.editorconfig
.eslintrc.js
.prettierignore
.prettierrc
prettier.config.js
jest.config.js
package-lock.json
tsconfig.json
*.ignore
.eslintignore
